.hero {
  height: 85vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #cccccc; 
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: relative;
  z-index: 1;
}